.footer {
  margin-bottom: size(48px);

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(xl) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  // .footer__social

  &__social {
    display: flex;
    justify-content: space-between;
    max-width: size(448px);


    @include breakpoint(xl) {
      grid-row: 2 / 3;
      grid-column: 1 / 3;
      margin: size(36px) auto 0;
    }

    // .footer__social_link

    &_link {
      img {
        width: size(70px);
        height: size(70px);

        @include breakpoint(sm) {
          width: size(40px);
          height: size(40px);
        }
      }
    }
  }

  // .footer__item

  &__item:not(:last-child) {
    margin-right: size(25px);

    @include breakpoint(sm) {
      margin-right: size(10px);
    }
  }

  // .footer__phone

  &__phone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    a {
      font-family: 'Circe-Regular', 'Arial', sans-serif;
      font-weight: 350;
      font-size: $text-size30;
      line-height: size(34px);

      @include breakpoint(sm) {
        font-size: size(24px);
        line-height: size(30px);
      }

      @include breakpoint(ssm) {
        font-size: size(18px);
        line-height: size(26px);
      }
    }

    span {
      font-weight: 400;
      font-size: $main-text-size;
      line-height: size(27px);
      text-align: right;

      color: $grey-text-color;
    }
  }
}